<h2>About e/programmer</h2>
<p>A community for programmers and discussion of programming and closely related topics.</p>
<h5>Rules of this Community</h5>
<ul>
  <li>You can ask your questions about programmer's daily life related things. (technical topics, career paths, ethics, work style etc.)</li>
  <li>You can post for jobs and gigs for others to apply for. This type of post must be a self-post. We suggest you can post your offer to /r/jobbit.</li>
  <li>Please, don't post spam or any kind of advertisement.</li>
</ul>
