<div class="jumbotron">
  <img id="epicodus" src="../img/epicodus-ico.png" alt="epicodus logo">
  <h1>Welcome to e/programmer</h1>
  <nav>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
<br>
<hr>
<br>
<footer>
  <a href="https://github.com/nrsantamaria" target="_blank"><img src="img/github.png" alt="github logo" id="github"></a>
  <a href="https://www.linkedin.com/in/nicolersantamaria/" target="_blank"><img src="img/linkedin_logo.png" alt="linkedin logo" id="linkedin"></a>
</footer>
